@import "tailwindcss";

@font-face {
  font-family: 'MyFont';
  src: url('/assets/fonts/Web437_IBM_VGA_9x16.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#root {
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: 'MyFont', url('/assets/fonts/Web437_IBM_VGA_9x16.woff') format('woff');
  scrollbar-width: 0;
  cursor: url('/assets/cursors/default.png'), auto;
  user-select: none;
}

.custom-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 4px;
  background: #73e7e7;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.custom-slider:hover {
  opacity: 1;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: #73e7e7;
  border-radius: 50%;
}

.custom-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #73e7e7;
  border-radius: 50%;
}